<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-1 mb-md-0 mb-4">
        <div class="footer__logo">logo</div>
      </div>
      <div class="col-md-7">
        <div class="row">
          <div class="col-md-4 col-6">
            <div class="footer__links"><span class="footer__column-title">Get Help</span><a
                class="footer__link">Link</a><a class="footer__link">Link</a><a class="footer__link">Link</a></div>
          </div>
          <div class="col-md-4 col-6">
            <div class="footer__links"><span class="footer__column-title">Get Help</span><a
                class="footer__link">Link</a><a class="footer__link">Link</a><a class="footer__link">Link</a></div>
          </div>
          <div class="col-md-4 col-sm-12 d-md-block d-none">
            <div class="footer__links"><span class="footer__column-title">Get Help</span><a
                class="footer__link">Link</a><a class="footer__link">Link</a><a class="footer__link">Link</a></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="footer__extra"><span class="footer__column-title">Sign Up for Email Newsletter</span>
          <div></div><input type="text" placeholder="email@company.com" class="footer__input" name="email_newsletter"><a
            class="btn btn-sm btn-primary">Send</a>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis sem vitae mauris viverra luctus.
            Pellentesque sit amet sodales diam. Suspendisse varius urna risus, eget vulputate dui aliquam eget.</p>
          <div class="footer__social-icons"><a class="footer__social-link"><i class="fab fa-facebook-f"></i></a><a
              class="footer__social-link"><i class="fab fa-twitter"></i></a><a class="footer__social-link"><i
                class="fab fa-instagram"></i></a><a class="footer__social-link"><i class="fab fa-youtube"></i></a></div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="footer__bottom">
            <div class="footer__copyright">© <span id='year'></span> Store</div>
            <a class="footer__extra-links">Link</a>
            <a class="footer__extra-links">Link</a>
            <a class="footer__extra-links">Link</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>


<script>
  const year = new Date().getFullYear()
  document.getElementById('year').innerText = year
</script>