<header class="header header1">
  <ul class="header1__collections-nav d-lg-block d-none">
    <li class="header1__collection-link"><a href="/link">Link <i class="fas fa-chevron-down"></i></a>
      <ul class="collection-link__sub-links">
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
      </ul>
    </li>
    <li class="header1__collection-link"><a href="/link">Link</a></li>
    <li class="header1__collection-link"><a href="/link">Link</a></li>
  </ul>
  <div class="d-lg-none text-light"><i class="fas fa-bars"></i></div>
  <div class="header1__logo"><a>Company</a></div>
  <div class="header1__collections-nav"><a><i class="fas fa-user"></i></a><a><i class="fas fa-shopping-cart"></i></a>
  </div>
</header>

{% schema %}
{
"name": "t:sections.header.name",
"settings": [
{
"type": "image_picker",
"id": "logo",
"label": "t:sections.header.settings.logo.label"
},
{
"type": "range",
"id": "logo_width",
"min": 50,
"max": 250,
"step": 10,
"unit": "t:sections.header.settings.logo_width.unit",
"label": "t:sections.header.settings.logo_width.label",
"default": 100
},
{
"type": "select",
"id": "logo_position",
"label": "t:sections.header.settings.logo_position.label",
"options": [
{
"value": "middle-left",
"label": "t:sections.header.settings.logo_position.options__1.label"
},
{
"value": "top-left",
"label": "t:sections.header.settings.logo_position.options__2.label"
},
{
"value": "top-center",
"label": "t:sections.header.settings.logo_position.options__3.label"
}
],
"default": "middle-left"
},
{
"type": "link_list",
"id": "menu",
"label": "t:sections.header.settings.menu.label",
"default": "main-menu"
},
{
"type": "checkbox",
"id": "show_line_separator",
"label": "t:sections.header.settings.show_line_separator.label",
"default": true
},
{
"type": "checkbox",
"id": "enable_sticky_header",
"label": "t:sections.header.settings.enable_sticky_header.label",
"default": true,
"info": "t:sections.header.settings.enable_sticky_header.info"
}
]
}
{% endschema %}